@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@media print {
  @page {
    size: auto; /* Or use 'letter', 'A5', 'A3' etc. */
    margin: 20px 0; /* Removes default browser margins */
  }

  body, html {
    margin: 0;
    padding: 0;
  }

  .print-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  .print-view > div {
    width: 4in;
    height: 2in;
    page-break-inside: avoid;
  }
}

 .libre-barcode-128-regular{
  font-family: "Libre Barcode 128", serif; 
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
  width: 100%;
 }